{% extends "base.html" %}
{% block title %}
Contacts
{% endblock %}
{% block content %}
<div class="conteiner">
    <div class="my _df-row _just-between _alig-centr">
        <div class="my__text _df-col">
            <h1>Contact John</h1>
            <div class="social-icons _df-row ">
                <a href="" target="_blank" rel="noopener noreferrer" class="icons"><img src="/img/fb.svg" alt=""></a>
                <a href="" target="_blank" rel="noopener noreferrer" class="icons"><img src="/img/insta.svg" alt=""></a>
                <a href="" target="_blank" rel="noopener noreferrer" class="icons"><img src="/img/Vector.svg" alt=""></a>
                <a href="" target="_blank" rel="noopener noreferrer" class="icons"><img src="/img/Linkedin.svg" alt=""></a>
            </div>
            
            <div><a class="button" href="">Download Resume</a></div>
            
        </div>
        <div class="my__img"></div>
    </div>
</div>
{% endblock %}